/*
FILE: CSSSessionsForName.css.

AUTHORS: 
Thiago Ramires Kairala
Thabata Helen Macedo Granja
Eduardo Brasil Martins
João Guilherme Santana Araruna
Nilton Cesar Campos Araruna
Rafael Fazzolino Pinto Barbosa

DATE: 27/03/2014

LICENSE:
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
*/
@CHARSET "ISO-8859-1";

#tudo h1{
	background-color:#E6E8FA;
	margin-left: 150px;
	margin-top: 80px;
	width: 600px;
}

#tudo h2{
	font-size: 20px;
}
#arrumar a{
	margin-left: 7%;
	text-decoration: none;
	color: #000;
}

#tudo h2{
	margin-left: 150px;	
	background-color:#E6E8FA;
	width: 250px;
}

#arrumar a:hover {
	background-color: #333333;
	color: #f8f8ff;
	-moz-box-shadow: 0 3px 10px 0 #333333;
	-webkit-box-shadow: 0 3px 10px 0 #333333;
	text-shadow: 0px 0px 5px #fff;
}
#paginas {
	bottom: 0;
	clear: both;
	background-color:#E6E8FA;
	float: left;
	width: 40%;
	margin-left: 12%;
}
#paginas a{
	text-decoration:none;
	color: #000;
}
#paginas a:hover{
	background-color: #333333;
	color: #f8f8ff;
	-moz-box-shadow: 0 3px 10px 0 #333333;
	-webkit-box-shadow: 0 3px 10px 0 #333333;
	text-shadow: 0px 0px 5px #fff;
}